@media screen and (max-width: 768px) {
        header {
            flex-direction: column;
            text-align: center;
            padding: 10px;
        }
    
        .login-form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .login-form input, .login-form button {
            width: 90%;
            max-width: 300px;
            margin: 5px 0;
        }
    
        .container {
            margin-top: 20px;
            padding: 0 10px;
            display: flex;
            justify-content: flex-end; /* Move a register-box para a direita */
        }
    
        .register-box {
            width: 100%;
            max-width: 400px; /* Define um limite de largura */
            padding: 20px;
            border-radius: 5px;
            background: white;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            margin-left: auto; /* Garante que a caixa vá para a direita */
        }
    
        .name-inputs {
            display: flex;
            flex-direction: column;
        }
    
        .name-inputs input {
            width: 100%;
            margin-bottom: 10px;
        }
    
        .gender-options {
            flex-direction: column;
            gap: 10px;
        }
    
        #custom-gender-input {
            width: 100%;
        }
    }
    
